*::selection{
  background-color: orangered;
  color: white;
}
main{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin-bottom: 40px;
}
img{
  transition: .4s;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
form input{
  padding: 8px 12px;
  border-radius: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
}
form button{
  outline: none;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: 700;
  transition: .4s;
}
form button:hover{
  letter-spacing: 5px;
}
.attempts{
  font-size: 1.1rem;
}
.guesses{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.guesses p{
  text-align: center;
  width: 80px;
  margin: 0 30px;
}
.onError{
  background-color: rgb(105, 148, 105);
  z-index: 1000;
  padding: 8px;
  opacity: 1;
  transition: .4s;
}
.notOnError{
  opacity: 0;
  transition: .4s;
}